*.d
*.so
*.pcm
.DS_Store
.idea/
.vscode/
alpha_calibration/
azureConversion/
averageBeamProperties/
averageBeamTime.out
build/
calcSolidAngle/
calcExcitationEnergy/
cmake-build-debug/
compareGrisha/
pictures/
compile_commands.json
CMakeLists.txt.user
